In [1]:
import pandas as pd # linear algebra
import numpy as np # dta processing, CSV file I/O (e.g portugal_ads_proprieties.csv)

In [2]:
import seaborn as sb #statistical data visualization
import matplotlib.pyplot as plt # make matplotlib work like MATLAB
#using the 'inline' backend, your matplotlib graphs will be included in your notebook, next to the code
%matplotlib inline

In [3]:
df = pd.read_csv('portugal_ads_proprieties.csv')
df.head()

,Location,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType
0,"Cortegaça, Ovar, Aveiro",4,2000.0,147.0,4.0,Used,Rent,House
1,"Mozelos, Santa Maria da Feira, Aveiro",2,5000.0,300.0,1.0,NaN,Rent,House
2,"Santa Maria da Feira, Travanca, Sanfins e Esp...",4,1200.0,134.0,2.0,Used,Rent,House
3,"Macinhata do Vouga, Águeda, Aveiro",4,2500.0,236.0,2.0,Renovated,Rent,House
4,"Oiã, Oliveira do Bairro, Aveiro",4,1200.0,240.0,NaN,NaN,Rent,House

In [4]:
#Splitting Strings
df['Location'].str.rsplit(',', expand=True, n=1)

                                                       0                  1
0                                        Cortegaça, Ovar             Aveiro
1                          Mozelos, Santa Maria da Feira             Aveiro
2       Santa Maria da Feira, Travanca, Sanfins e Esp...             Aveiro
3                             Macinhata do Vouga, Águeda             Aveiro
4                                Oiã, Oliveira do Bairro             Aveiro
...                                                  ...                ...
62653                       Romarigães, Paredes de Coura   Viana do Castelo
62654                              Cardielos e Serreleis   Viana do Castelo
62655                              Cardielos e Serreleis   Viana do Castelo
62656                                              Chafé   Viana do Castelo
62657                   Barcos e Santa Leocádia, Tabuaço              Viseu

[62658 rows x 2 columns]

In [5]:
#Splitting Strings
df[['City', 'District']] = df['Location'].str.rsplit(',', expand=True, n=1)

In [6]:
df.head()

,Location,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType,City,District
0,"Cortegaça, Ovar, Aveiro",4,2000.0,147.0,4.0,Used,Rent,House,"Cortegaça, Ovar",Aveiro
1,"Mozelos, Santa Maria da Feira, Aveiro",2,5000.0,300.0,1.0,NaN,Rent,House,"Mozelos, Santa Maria da Feira",Aveiro
2,"Santa Maria da Feira, Travanca, Sanfins e Esp...",4,1200.0,134.0,2.0,Used,Rent,House,"Santa Maria da Feira, Travanca, Sanfins e Esp...",Aveiro
3,"Macinhata do Vouga, Águeda, Aveiro",4,2500.0,236.0,2.0,Renovated,Rent,House,"Macinhata do Vouga, Águeda",Aveiro
4,"Oiã, Oliveira do Bairro, Aveiro",4,1200.0,240.0,NaN,NaN,Rent,House,"Oiã, Oliveira do Bairro",Aveiro

In [7]:
df = df.drop(columns=['Location'])
df.head()

,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType,City,District
0,4,2000.0,147.0,4.0,Used,Rent,House,"Cortegaça, Ovar",Aveiro
1,2,5000.0,300.0,1.0,NaN,Rent,House,"Mozelos, Santa Maria da Feira",Aveiro
2,4,1200.0,134.0,2.0,Used,Rent,House,"Santa Maria da Feira, Travanca, Sanfins e Esp...",Aveiro
3,4,2500.0,236.0,2.0,Renovated,Rent,House,"Macinhata do Vouga, Águeda",Aveiro
4,4,1200.0,240.0,NaN,NaN,Rent,House,"Oiã, Oliveira do Bairro",Aveiro

In [8]:
df.District.unique()

array([' Aveiro', ' Beja', ' Braga', ' Bragança', ' Castelo Branco',
       ' Coimbra', ' Évora', ' Faro', ' Guarda', ' Ilha da Graciosa',
       ' Ilha da Madeira', ' Ilha de São Miguel', ' Ilha do Corvo',
       ' Ilha do Faial', ' Leiria', ' Lisboa', ' Portalegre', ' Porto',
       ' Santarém', ' Setúbal', ' Viana do Castelo', ' Vila Real',
       ' Viseu', None, ' Ilha das Flores', ' Ilha de Porto Santo',
       ' Ilha de Santa Maria', ' Ilha de São Jorge', ' Ilha do Pico',
       ' Ilha Terceira'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62658 entries, 0 to 62657
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          62658 non-null  object
 1   Price          61488 non-null  float64
 2   Area           62658 non-null  float64
 3   Bathrooms      50146 non-null  float64
 4   Condition      37533 non-null  object
 5   AdsType        62658 non-null  object
 6   ProprietyType  62658 non-null  object
 7   City           62658 non-null  object
 8   District       62411 non-null  object
dtypes: float64(3), object(6)
memory usage: 4.3+ MB

In [10]:
df['District'].value_counts()

 Porto                  9941
 Lisboa                 7701
 Setúbal                6998
 Faro                   6185
 Braga                  5703
 Aveiro                 4463
 Leiria                 3910
 Santarém               3744
 Coimbra                2891
 Viana do Castelo       2070
 Castelo Branco         1190
 Viseu                  1121
 Ilha da Madeira        1061
 Beja                    953
 Évora                   880
 Vila Real               800
 Ilha de São Miguel      670
 Portalegre              638
 Guarda                  505
 Bragança                401
 Ilha Terceira           314
 Ilha do Pico             65
 Ilha de Santa Maria      48
 Ilha de Porto Santo      45
 Ilha do Faial            36
 Ilha da Graciosa         28
 Ilha das Flores          24
 Ilha de São Jorge        20
 Ilha do Corvo             6
Name: District, dtype: int64

In [11]:
df['District'] = df['District'].str.strip()
df['District'].value_counts()

Porto                  9941
Lisboa                 7701
Setúbal                6998
Faro                   6185
Braga                  5703
Aveiro                 4463
Leiria                 3910
Santarém               3744
Coimbra                2891
Viana do Castelo       2070
Castelo Branco         1190
Viseu                  1121
Ilha da Madeira        1061
Beja                    953
Évora                   880
Vila Real               800
Ilha de São Miguel      670
Portalegre              638
Guarda                  505
Bragança                401
Ilha Terceira           314
Ilha do Pico             65
Ilha de Santa Maria      48
Ilha de Porto Santo      45
Ilha do Faial            36
Ilha da Graciosa         28
Ilha das Flores          24
Ilha de São Jorge        20
Ilha do Corvo             6
Name: District, dtype: int64

In [12]:
df.head()

,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType,City,District
0,4,2000.0,147.0,4.0,Used,Rent,House,"Cortegaça, Ovar",Aveiro
1,2,5000.0,300.0,1.0,NaN,Rent,House,"Mozelos, Santa Maria da Feira",Aveiro
2,4,1200.0,134.0,2.0,Used,Rent,House,"Santa Maria da Feira, Travanca, Sanfins e Esp...",Aveiro
3,4,2500.0,236.0,2.0,Renovated,Rent,House,"Macinhata do Vouga, Águeda",Aveiro
4,4,1200.0,240.0,NaN,NaN,Rent,House,"Oiã, Oliveira do Bairro",Aveiro

In [13]:
df.isnull().sum()

Rooms                0
Price             1170
Area                 0
Bathrooms        12512
Condition        25125
AdsType              0
ProprietyType        0
City                 0
District           247
dtype: int64

In [14]:
#Delete unnecessary
df = df.dropna(subset=['Price'])

In [15]:
df.isnull().sum()

Rooms                0
Price                0
Area                 0
Bathrooms        12282
Condition        24665
AdsType              0
ProprietyType        0
City                 0
District           245
dtype: int64

In [16]:
#Fix missing values
df = df.fillna({'Condition': 'Used'})
df = df.fillna({'Bathrooms': 1})
df = df.dropna(subset=['District'])
df.isnull().sum()

Rooms            0
Price            0
Area             0
Bathrooms        0
Condition        0
AdsType          0
ProprietyType    0
City             0
District         0
dtype: int64

In [17]:
df.head()

,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType,City,District
0,4,2000.0,147.0,4.0,Used,Rent,House,"Cortegaça, Ovar",Aveiro
1,2,5000.0,300.0,1.0,Used,Rent,House,"Mozelos, Santa Maria da Feira",Aveiro
2,4,1200.0,134.0,2.0,Used,Rent,House,"Santa Maria da Feira, Travanca, Sanfins e Esp...",Aveiro
3,4,2500.0,236.0,2.0,Renovated,Rent,House,"Macinhata do Vouga, Águeda",Aveiro
4,4,1200.0,240.0,1.0,Used,Rent,House,"Oiã, Oliveira do Bairro",Aveiro